<h1>Log in</h1>

<%= form_tag ({controller: 'sessions', action: 'create_login', method: 'POST'}) do %>
	<%= label_tag :email %>
	<%= text_field_tag :email %> <br>
	<%= label_tag :password %>
	<%= text_field_tag :password %> <br>
	<%= submit_tag "Log In" %>
<% end %>