<form action="/auctions" method="GET">
	<select name="condition" id="item_condition">
	  <option value="excellent" <%= "selected" if params[:condition] == "excellent" %>>excellent</option>
	  <option value="good" <%= "selected" if params[:condition] == "good" %>>good</option>
	  <option value="fair" <%= "selected" if params[:condition] == "fair" %>>fair</option>
	  <option value="poor" <%= "selected" if params[:condition] == "poor" %>>poor</option>
	</select>
	<input type="submit" value="search">
</form>


<% if params[:user_id] %>
	<h1>Your Auctions</h1>
	<h3><%= link_to "Auction New Item", new_user_auction_path(@user) %></h3>
	<ol>
		<% @auctions.each do |auction| %>
			<li><%= link_to auction.item.name, auction_path(auction) %></li>
		<% end %>
	</ol>
<% else %>
	<h1>All Auctions</h1>
	<ol>
		<% @auctions.each do |auction| %>
			<% unless auction.user == @user %>
				<li><%= link_to auction.item.name, auction_path(auction) %></li>
			<% end %>
		<% end %>
	</ol>
<% end %>




