<% if params[:user_id] %>
	<h1>My Auctions</h1>
	<h3><%= link_to "Auction New Item", new_user_auction_path(@user) %></h3>
	<ol>
		<% @auctions.each do |auction| %>
			<li><%= link_to auction.item.name, auction_path(auction) %></li>
		<% end %>
	</ol>
<% else %>
	<h1>Auctions</h1>

	<form action="/auctions" method="GET">
		<select name="condition" id="item_condition">
		  <option value="all" <%= "selected" if params[:condition] == "all" %>>all</option>	  
		  <option value="excellent" <%= "selected" if params[:condition] == "excellent" %>>excellent</option>
		  <option value="good" <%= "selected" if params[:condition] == "good" %>>good</option>
		  <option value="fair" <%= "selected" if params[:condition] == "fair" %>>fair</option>
		  <option value="poor" <%= "selected" if params[:condition] == "poor" %>>poor</option>
		</select>
		<input type="submit" value="search by Condition">
	</form>
	<br>
	<% @categories.each do |c| %>
		<%= form_with model: c, url: auctions_path, method: "GET", local: true, class: "category" do |f| %>	
			<%= f.hidden_field :category_id, value: "#{c.id}" %>
			<%= f.submit c.name %>
		<% end %>
	<% end %>

	<ol>
		<% @auctions.each do |auction| %>
				<li><%= link_to auction.item.name, auction_path(auction) %></li>
		<% end %>
	</ol>
<% end %>
