<h1><%= @auction.item.name %></h1>

<% if @auction.bids.empty?%>
	<p>Starting bid price: $<%= number_with_precision(@auction.starting_price, :precision => 2) %></p>
<% else %>
	<h3>Top bid: <%= "$#{number_with_precision(@highest_bid, :precision => 2)}" %></h3>
<% end %>

<p>Expires on: <%= @auction.close_time.strftime("%B %d, %Y at %I:%M %p") %></p>

<h3>Seller: <%= @auction.item.seller.name %></h3>

<% if @user != @auction.item.seller %>
	<%= render "bids/form" %>
<% end %>

<% if !@auction.bids.empty? %>
	<% if @user == @auction.highest_bidder %>
		<h3>You are the top bidder!</h3>
	<% else %>
		<h3>You are not the top bidder!</h3>	
	<% end %>
<% end %>
