<h1><%= @item.name %></h1>

<% if @item.bids.empty?%>
	<p>Starting bid price: $<%= number_with_precision(@item.start_price, :precision => 2) %></p>
<% else %>
	<h3>Top bid: <%= "$#{number_with_precision(@item.bids.highest[0].amount, :precision => 2)}" %></h3>
<% end %>

<h3>Seller: <%= @item.seller.name %></h3>

<% if @user != @item.seller %>
	<%= render "bids/form" %>
<% end %>