<!DOCTYPE html>
<html>
  <head>
    <title>Fleebay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>User: <%= current_user.name if current_user %></p>
    <div id="nav-menu">
      <div id="nav-home" class="nav-item"><%= link_to "Home", items_path %></div>
      <!-- <div class="nav-item">My account</div> -->
      <% if current_user %>
        <div id="nav-home" class="nav-item"><%= link_to "My account", user_path(User.find(session[:user_id])) %></div>     
      <% end %>

    </div>
    <%= yield %>
  </body>
</html>
